html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff2b4;
    font-family: assistant;
    color: #073799;
    direction: rtl;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
